<div class="container">        
    <h3>Add a User</h3>   
       
    <div>   
        <label>Email</label>   
        <%= @product.email %>   
    </div> 
            
    <div>   
        <label>Password</label>   
        <%= @product.p_description %>   
    </div> 
    
    <div>   
        <label>FirstName</label>   
        <%= @product.first_name %>   
    </div>
    
    <div>   
        <label>LastName</label>   
        <%= @product.last_name %>   
    </div>   
            
    <div>   
        <label>Phone_No.</label>   
        <%= @product.phone_no %>   
    </div>   
         
    <div>   
       <%= link_to 'Back', { controller: 'users', action: 'index'} %>   
    </div>   
</div>  
