<h2>Category List</h2>

<div class="container">
  
<% @categories.each do |category| %>
  <%= category.category_name %> 
  <% if policy(category).update? %>   
   <%= link_to 'Add Category', new_category_path %>  
  <% end %>      
   <div>   
          <td>   
            <%= link_to 'Show', category_path(category) %> 
            <% if policy(category).update? %>  
            <%= link_to 'Edit', edit_category_path(category) %>   
            <%= link_to 'Delete', category_path(category), method: :delete %>  
            <% end %> 
    </div>   
          </td></br>
  <% end %>                
</div> 
  
