<h2>Product List</h2>
<div class="container">    
  <% @products.each do |product| %>   
  <div>   
    <%= product.product_name %>   
  </div> 

  <div>     
    <%= product.p_description %>   
  </div> 

  <div>  
    <%= product.quantity %>   
  </div>
         
  <div>
       
  Rs. <%= product.price %>   
  </div>  
  
  <div>
   <%= image_tag product.image, style: "width: 200px; display: bolck" %>
  </div>
   
   <div>   
           <td>   
            <%= link_to 'Show', product_path(product) %>   
            <%= link_to 'Edit', edit_product_path(product) %>   
            <%= link_to 'Delete', product_path(product), method: :delete %>   
          </div>   
        </td>   
  </br>  
 <% end %>   
</div> <br> 










