  <h2>Product List</h2>
  
  <div class="container">
     
     <% @products.each do |product| %> 

     <%= link_to product_path(product) do %>	
     <div class="responsive">
	 <div class="gallery">
   
	 <% if product.image.attached? %>
	 <%= image_tag product.image %>
	 <% end %>
	
	 <div class="desc">
	   <strong><%= product.product_name %> </strong></br>
	 </div>
     <% end %>
	
	<% if policy(product).update? %>
	  <button type="button" class="btn btn-outline-success">
	  <%= link_to "Edit", edit_product_path(product) %></button>
	<% end %>
	
	<% if policy(product).update? %>
	  <button type="button" class="btn btn-outline-danger">
	  <%= link_to "Delete", product_path(product), method: :delete  %></button>
	<% end %>

	<% if policy(product).update? %>
	  <button type="button" class="btn btn-primary">
      <%= link_to "Add New Product", new_product_path(product) %></button>
    <% end %>

  </div>
  </div>
   <% end %>
  </div> 
  










