<p id="notice"><%= notice %></p>
<div class="container">        
    <h3><%= @product.product_name %></h3>  

    <%= image_tag @product.image, style: "width: 200px; display: bolck" %>
       
    <div>   
      <label>ProductName</label>   
      <%= @product.product_name %>   
    </div> 
            
    <div>   
      <label>Product_Description</label>   
      <%= @product.p_description %>   
    </div> 
    
    <div>   
      <label>Quantity</label>  
      <%= @product.quantity %>   
    </div>
             
    <div>   
      <label>Price</label>   
      Rs. <%= @product.price %>   
    </div>  
  
    <button type="button" class="btn btn-outline-primary"><%= link_to "AddToCart", add_to_cart_path(product_id: @product.id), method: :post, remote: true %></button>
	  <button type="button" class="btn btn-outline-primary"><%= link_to "Buy Now", new_order_path %></button>
    
         
    <div>   
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', products_path %></button>     
    </div>   
</div>  




